<!DOCTYPE html>
<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>feedback</title>
  </head>
  <body>
    <form method="post">
      <label for="name">name:</label>
      <input type="text" name="name"/>
      <label for="email">email:</label>
      <input type="email" name="email" />
      <label for="feedback">feedback:</label><br/>
      <textarea name="feedback"></textarea><br /><br/>
      <button type="submit" value="send">send</button>
    </form>
  </body>
</html>