<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>feedback answer</title>
  </head>
  <body>
    <h1>feedback answer</h1>
    <p>
      thanks for your feedback, <%= name %>! we will conctact u by email at <%=
      email %>
    </p>

    <a href="feedback.ejs">back to feedback form</a>
  </body>
</html>
